.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.container h2{
  font-size: 50px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}


.open-form-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


/* Contenedor del contenido del modal */
.modal-content {
  background-color: black;
  padding: 30px;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(102, 0, 40, 0.2);
  position: relative;
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.titulo {
  color: #333;
}

/* Animación de aparición suave */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Botón de abrir formulario */
.open-form-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.open-form-button:hover {
  background-color: #45a049;
}

/* Botón de cerrar */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.2rem;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
}

/* Estilo de los campos de formulario */
form label {
  display: block;
  margin: 15px 0 5px;
  text-align: left;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

/* Estilo del botón Enviar */
form button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #45a049;
}


.project-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.project-table th,
.project-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.project-table th {
  background-color: #f2f2f2;
}

.project-table button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}